{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier", "import"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "js": "always"
      }
    ]
  }
}
